{% extends 'base.html' %}

{% block body %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Bienvenido a Ferremas</title>
    <!-- Tus enlaces a hojas de estilo, Bootstrap, etc. -->
</head>
<body>
<header>
  <div class="header-content container">
    <div class="header-txt">
    <span>Bienvenido a Ferremas</span>
    <p>En FERREMAS, estamos comprometidos a ofrecerle los mejores productos de ferretería y construcción, 
       con la calidad y el servicio que usted merece. 
       Nuestra plataforma en línea está diseñada para brindarle una experiencia de compra fácil, 
       rápida y segura, desde la comodidad de su hogar o lugar de trabajo.</p>
       <span>¿Qué encontrará en nuestro sitio web?</span>
       <ul>
        <li><b>Catálogo Completo:</b> Explore una amplia gama de productos de ferretería, 
            herramientas, materiales de construcción y más. Ya sea que esté realizando un 
            pequeño proyecto en casa o una gran obra, aquí encontrará todo lo que necesita.
        </li>
        <li><b>Ofertas Exclusivas:</b> Disfrute de promociones especiales y descuentos exclusivos 
            solo disponibles en nuestra tienda en línea.
        </li>
        <li><b>Compra Segura:</b> Realice sus pedidos de manera segura con nuestras opciones de pago en línea, 
            incluyendo tarjetas de crédito y débito.
        </li>
      </ul>
    
    </div>
    <div class="header-img">
      <img src="{% static 'img/02.jpg' %}" alt="">
    </div>
  </div>
      
      <section class="oferts container">
        <div class="ofert-1 b1">
          <h3>Lorem</h3>
          <a href="#">Leer más...</a>
        </div>
        <div class="ofert-img">
          <img src="imagen/asdas" alt="">
        </div>
        <div class="ofert-1 b2">
          <h3>Lorem</h3>
          <a href="#">Leer más...</a>
        </div>
        <div class="ofert-img">
          <img src="imagen/asdas2" alt="">
        </div>
        <div class="ofert-1 b3">
          <h3>Lorem</h3>
          <a href="#">Leer más...</a>
        </div>
        <div class="ofert-img">
          <img src="imagen/asdas3" alt="">
        </div>
      </section>
    
</header>

<footer>
        <div class="footer-content">
            <!-- Información de contacto, enlaces útiles, derechos de autor, etc. -->
        </div>
</footer>
    
    <!-- Tus scripts, incluyendo Bootstrap si es necesario -->
</body>
</html>

{% endblock %}